.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.App-title {
  font-size: 1.5em;
}
.App-intro {
  font-size: large;
}
div,button,span,strong{font-family:Open;}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
p {
  font-family: Futura;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
}
h3 {
  font-family: Futura;
  font-weight: bold;
}
h2 {
  font-family: Futura;
  font-size: 30px;
  font-weight: 900;
}

/*<<---Header--->>*/
ul.main-nav {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  height: 40px;
}
ul.main-nav li {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 5px;
}
.main-nav a {
  width: 200px;
  font-size: 14px;
  font-weight: 700;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  display: inline;
  padding: 1em;
  padding-left: 40px;
  padding-right: 40px;
  transition: .2s;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}
.main-nav a:hover,
.main-nav .active {
  color: #fff;
  background: #3b80d1;
  text-decoration: none;
}
header {
  margin-top: 2px;
  background: #edeff0;
  height: 50px;
}
.NavHeader {
  text-align: left;
}
@media (max-width: 600px) {
  ul.main-nav {
    list-style: none;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    height: 50px;
  }
  ul.main-nav li {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 0px;
    margin-top: -10px;
    width: 33%;
    display: flex;
  }
  .main-nav a {
    display: flex;
    height: 50px;
    margin-top: 0px;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    display: inline;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    transition: .2s;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
  }
  .main-nav a:hover,
  .main-nav .active {
    color: #fff;
    background: #3b80d1;
    text-decoration: none;
  }
  header {
    margin-top: 2px;
    background: #edeff0;
    height: 50px;
  }
  .NavHeader {
    /*text-align: left;*/
  }
}

/*<<---ProjectPage(Photo Side)--->>*/
.projectPage {
  background: linear-gradient(#778899 ,#d3d3d3);
}
.projectOverview {
  display: block;
  height: auto;
  min-height: 700px;
  border-bottom: 2px solid #778899;
  background: white;
  margin-bottom: 10px;
  padding-top: 20px;
}
.projectName {
  width: 90%;
}
.projectName h2 {
  font-family: Futura;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}
.projectTitle {
  display: inline-block;
  float: left;
  width: 575px;
  margin-top: 10px;
}
.projectTitle h2 {
  font-family: Futura;
  font-weight: 900;
  text-decoration: underline;
}
  /*<<---ProjectPage(Text Side)--->>*/
.projectDescription {
  text-align: left;
  padding-left: 5px;
  padding-right: 25px;
  margin-top: 75px;
  min-width: 780px;
  margin-right: 5%;
  position: absolute;
  left: 575px;
}
.projectDescription h3 {
  font-family: Futura;
  font-size: 25px;
  font-weight: 650;
  color: grey;
}
.projectDescription h4 {
  font-weight: 800;
}
.projectDescription p {
  margin-left: 10px;
}
.projectTitle h2 {
  font-family: Futura;
  font-style: bold;
  font-size: 40px;
}
.techStack {
  margin-top: 20px;
}
.techStack h3 {
  font-size: 25px;
}
.techStack h4 {
  font-size: 15px;
}
.frontEnd {
  width: 100%;
  position: relative;
  display: inline-block;
  height: auto;
  margin-bottom: 0px;
}
.techTitles {
  margin-left: 10px;
  margin-top: 5px;
  width: 120px;
  float: left;
  display: inline-block;
}
.techTitlesLong {
  margin-left: 10px;
  margin-top: 5px;
  width: 140px;
  float: left;
  display: inline-block;
}
.techTitlesLong h4 {
  font-family: Futura;
}
.techTitles h4 {
  font-family: Futura;
}
.techDetails {
  width: 80%;
  float: right;
  display: inline-block;
}
.projectLinks {
  display: block;
  position: relative;
}
.link {
  margin-top: 10px;
  margin-left: 20%;
  display: inline-block;
  width: 150px;
}
.link h3 {
  font-size: 20px;
}
  /*<<---ProjectPage(Responsive)--->>*/
@media (max-width: 600px) {
  .projectPage {
    width: 100%;
  }
  .projectOverview {
    display: block;
    width: 100%;
    height: 1800px;
    border-bottom: 2px solid #778899;
    background: white;
    margin-bottom: 10px;
    padding-top: 20px;
    position: relative;
  }
  .projectTitle {
    display: block;
    width: 95%;
  }
  .projectDescription {
    display: inline-block;
    padding-left: 5px;
    margin-top: 25px;
    left: 2%;
    margin-right: 5%;
    position: relative;
    text-align: left;
  }
  .projectDescription p {
    font-size: 14px;
    width: 340px;
  }
  .techTitles {
    margin-left: 0px;
    width: 90%;
    text-align: left;
    height: 10px;
    display: block;
  }
  .techTitlesLong {
    margin-left: 0px;
    width: 90%;
    text-align: left;
    height: 10px;
    display: block;
  }
  .techDetails {
    width: 100%;
    height: 150px;
    display: inline-block;
  }
  .frontEnd {
    width: 100%;
    position: relative;
    display: block;
    margin-bottom: 5px;
  }
  .techDetails p {
    position: absolute;
    display: block;
    height:100%;
    margin-top: 20px;
  }
  .projectLinks {
    display: block;
    height: 50px;
    width: 300px;
    margin-top: 20px;
  }
  .link {
    margin-left: 0%;
    display: block;
    width: 50px;
  }
  .techStack {
    margin-top: 20px;
  }
}


/*Tech Stack*/

  /*<<---CoinSlides--->>*/
.coinPhotoContainer {
  width: 500px;
  height: 583px;
  border: 2px solid #808080;
  background: #F8F8F8;
  margin-left: 20px;
}
.coinSlideContainer {
  height: 80px;
  width: 495px;
  background: white;
  padding-top: 10px;
  margin-left: 0px;
}
.coinSlides img {
  float: left;
  height: 50px;
  width: 25px;
}
.coinSlides {
  position: relative;
  display: inline;
  margin: 10px;
}
.coinSlides button {
  border-radius: 5px;
}
.coinActiveSlide button {
  border: 3px dotted yellow;
  border-radius: 5px;
}
.coinActiveSlide {
  display: inline;
  margin: 10px;
}
.coinBlurb {
  height:45px;
  font-weight: 900;
}
.coinBlurb p {
  font-size: 14px;
}
.coinMainPhoto img {
  border: 0px solid white;
}
  /*<<---CoinSlides(Responsive)--->>*/
@media (max-width: 600px) {
  .coinPhotoContainer {
    width: 100%;
    height: 582px;
    border: 2px solid #808080;
    background: #F8F8F8;
    margin-left: 2%;
    margin-right: 1%;
  }
  .coinSlides img {
    float: left;
    display: inline-block;
    height: 30px;
    width: 15px;
  }
  .coinSlides {
    position: relative;
    display: inline;
    margin: 5px;
  }
  .coinSlideContainer {
    height: 80px;
    width: 99%;
    background: white;
    padding-top: 10px;
    border-bottom: 0px solid white;
    border-right: 0px solid white;
    border-left: 0px solid white;
    margin-left: 1px;
  }
  .coinBlurb {
    height:45px;
    font-weight: 900;
  }
  .coinBlurb p {
    font-size: 12px;
  }
}

  /*<<---EatSlides--->>*/
.eatSlides {
  position: relative;
  display: inline;
  margin: 10px;
}
.eatSlides img {
  float: left;
  margin: 5px;
  height: 30px;
  width: 25px;
}
.eatActiveSlide button {
  border: 2px solid black;
}
.eatSlideContainer {
  height: 85px;
  width: 493px;
  background: white;
  padding-top: 10px;
  margin-left: 2px;
}
.eatActiveSlide {
  display: inline;
  margin: 5px;
}
.eatActiveSlide button {
  border-radius: 5px;
  border: 2px dashed yellow;
}
.eatSlides button {
  border-radius: 5px;
}
.eatMainPhoto img {
  border-radius: 10px;
  max-width: 450px;
}
.eatPhotoContainer {
  width: 500px;
  height: 435px;
  background: #F8F8F8;
  margin-left: 25px;
  border: 2px solid #808080;
}
.eatBlurb {
  height:45px;
  font-weight: 900;
}
.eatBlurb p {
  font-size: 14px;
}
.eatMainPhoto img {
  height: 300px;
}
  /*<<---EatSlides(Responsive)--->>*/
@media (max-width: 600px) {
  .eatPhotoContainer {
    width: 100%;
    height: 470px;
    background: #F8F8F8;
    margin-left: 2%;
    margin-top: 10px;
  }
  .eatSlides {
    position: relative;
    display: inline;
    margin: 10px;
  }
  .eatSlides img {
    float: left;
    display: inline-block;
    margin: 5px;
    height: 30px;
    width: 20px;
  }
  .eatMainPhoto img {
    width: 90%;
    border-radius: 10px;
  }
  .eatSlideContainer {
    height: 120px;
    width: 99%;
    background: white;
    padding-top: 10px;
    border-bottom: 0px solid white;
    border-right: 0px solid white;
    border-left: 0px solid white;
    margin-left: 0px;
  }
}

  /*<<---InstaSlides--->>*/
.instaSlides {
  position: relative;
  display: inline;
  margin: 10px;
}
.instaSlides img {
  float: left;
  margin: 5px;
  height: 50px;
  width: 43px;
}
.instaActiveSlide button {
  border: 2px dashed yellow;
  border-radius: 5px;
}
.instaSlides button {
  border-radius: 5px;
}
.instaSlideContainer {
  height: 90px;
  width: 493px;
  background: white;
  padding-top: 10px;
  margin-left: 1px;
}
.instaActiveSlide {
  display: inline;
  margin: 5px;
}
.instaMainPhoto img {
  max-width: 450px;
  border-radius: 10px;
}
.instaPhotoContainer {
  width: 500px;
  height: 465px;
  background: #F8F8F8;
  margin-left: 25px;
  border: 2px solid #808080;
  margin-top: 20px;
}
.instaBlurb {
  height:45px;
  font-weight: 900;
}
.instaBlurb p {
  font-size: 14px;
}
.instaMainPhoto img {
  height: 325px;
}
  /*<<---InstaSlides(Responsive)--->>*/
@media (max-width: 600px) {
  .instaMainPhoto img {
    width: 95%;
    border-radius: 10px;
  }
  .instaPhotoContainer {
    width: 100%;
    height: 470px;
    background: #F8F8F8;
    margin-left: 2%;
    border: 2px solid #808080;
  }
  .instaSlideContainer {
    height: 95px;
    width: 99.5%;
    margin-right: 5px;
    background: white;
    padding-top: 10px;
    margin-left: 1px;
  }
}

  /*<<---ContactForm--->>*/
.contactForm {
  margin-left: 5%;
  padding: 10px;
  width: 900px;
  height: 800px;
  border: 2px solid grey;
  background: #DCDCDC;
  text-align: left;
}
input[type=text] {
  width: 90%;
  margin-left: 5%;
  height: 300px;
  font-size: 20px;
}
input[type=textarea] {
  width: 40%;
  font-size: 20px;
  margin-bottom: 20px;
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
}
input[type=email] {
  width: 40%;
  font-size: 20px;
  margin-bottom: 20px;
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
}
input[type=number] {
  width: 40%;
  font-size: 20px;
  margin-bottom: 20px;
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
}
select.form-control {
  width: 90%;
  margin-left: 5%;
  font-size: 20px;
}
ControlLabel {
  display: block;
  vertical-align: middle;
}
.Select {
  width: 90%;
  margin-left: 5%;
  font-size: 20px;
}
label {
  width: 800px;
  vertical-align: middle;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 20px;
  line-height: 1.42857143;
}
.help-block {
  text-align: center;
  font-size: 12px;
}
.formButton {
  height: 50px;
  width: 500px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px;
}
.formTitle h2 {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}
.contactContainer {
  margin-top: 50px;
}
  /*<<---ContactForm(Responsive)--->>*/
@media (max-width: 600px) {
  .contactForm {
    margin-left: 2%;
    margin-right: 2%;
    padding: 10px;
    width: 95%;
    border: 2px solid grey;
    background: #DCDCDC;
    text-align: left;
  }
  input[type=text] {
    width: 90%;
    margin-left: 5%;
    height: 300px;
    font-size: 20px;
  }
  input[type=textarea] {
    width: 40%;
    font-size: 20px;
    margin-bottom: 20px;
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
  }
  input[type=email] {
    width: 40%;
    font-size: 20px;
    margin-bottom: 20px;
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
  }
  input[type=number] {
    width: 40%;
    font-size: 20px;
    margin-bottom: 20px;
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
  }
  select.form-control {
    width: 90%;
    margin-left: 5%;
    font-size: 20px;
  }
  ControlLabel {
    display: block;
    vertical-align: middle;
  }
  .Select {
    width: 90%;
    margin-left: 5%;
    font-size: 20px;
  }
  label {
    width: 800px;
    vertical-align: middle;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 20px;
    line-height: 1.42857143;
  }
  .help-block {
    text-align: center;
    font-size: 12px;
  }
  .formButton {
    height: 50px;
    width: 250px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
  }
  .formTitle h2 {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
  }
}

  /*<<---HomePage--->>*/
@media (min-width: 601px) {
  .homeContainer {
    margin-left: 5%;
    margin-top: 20px;
    width: 90%;
    margin: auto;
  }
  .homePhoto {
    display: inline-block;
    position: absolute;
    left: 50px;
    float: left;
    width: 25%;
    margin-top: 5%;
  }
  .homePhoto img {
    max-height: 350px;
    width: 90%;
    border-radius: 5px;
    border: 1px solid grey;
  }
  .outsideLinks {
    margin-top: 20px;
  }
  .homeBio {
    float: left;
    margin-left: 30%;
    margin-top: 7%;
    width: 60%;
    text-align: center;
  }
  .homeResumeContainer {
    display: block;
    position: relative;
    width: 60%;
  }
}
  /*<<---HomePage(Resonsive)--->>*/
@media (max-width: 600px) {
  .homePhoto {
    display: block;
    margin-left: 10px;
    margin-top: 5%;
  }
  .homeContainer {
    margin-left: 2%;
    margin-top: 20px;
    width: 95%;
  }
  .homeBio {
    display: block;
    margin-left: 5%;
    margin-top: 3%;
    width: 90%;
    text-align: center;
  }
  .homePhoto img {
    max-height: 350px;
    width: 90%;
    border-radius: 5px;
    border: 1px solid grey;
  }
  .outsideLinks {
    margin-top: 20px;
  }
  .viewResumeButton {
    margin-left: 0;
    margin-right: 0;
    width: 300px;
  }
  .homeResumeContainer {
    width: 300px;
  }
}

/*Resume Page*/
.resume img {
  height: 1200px;
  border: 2px solid #aaa;
}
.viewResumeButton {
  width: 100%;
  margin-left: 50%;
  margin-right: 40%;
}
.resume {
  height: 1050px;
  width: 800px;
  margin-left: 42%;
  margin-bottom: 200px;
  padding: 10px;
}
.printButton {
  margin-top: 10px;
}
@media (max-width: 600px) {
  .resume img {
    height: 1200px;
    border: 2px solid #aaa;
  }
  .resume {
    height: 1050px;
    width: 800px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding: 10px;
  }
  .printButton {
    margin-top: 10px;
    width: 200px;
  }
}





/*SlideShow CSS - Currently not using*/
.slideshow {
  width: 380px;
  height: 480px;
  display: block;
  position: relative;
  margin-bottom: 100px;
}
.slideshow-slides {
  list-style: none;
  margin: 0;
  padding: 0;
}
.slideshow-slides li {
  display: inline-block;
  margin: 0;
  padding: 0;
  transition: .2s;
  opacity: 0;
}
.slideshow-slides li.active {
  opacity: 1;
}
figure {
  margin: 0;
  padding: 0;
}
figcaption {
  position: absolute;
  bottom: 10;
  left: 0;
  right: 0;
  color: black;
  padding: 10px;
}

.slideshow-dots {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  list-style: none;
}
.slideshow-dots li {
  display: inline;
  margin: 0;
  padding: 0;
}
.slideshow-dots a {
  cursor: pointer;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background: blue;
  border-radius: 10px;
  text-indent: -9990px;
  opacity: .5;
  transition: .3s;
}
.slideshow-dots li.active a {
  opacity: 1;
}
