.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  /*background-color: #222;*/
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
div,button,span,strong{font-family:Open;}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
p {
  font-family: Arvo;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
}
h3 {
  font-family: Arvo;
  font-weight: bold;
}
h2 {
  font-family: Arvo;
  font-size: 30px;
  font-weight: 900;
}
ul.main-nav {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  height: 40px;
}

ul.main-nav li {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 5px;
}
.main-nav a {
  width: 200px;
  font-size: 14px;
  font-weight: 700;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  display: inline;
  padding: 1em;
  padding-left: 40px;
  padding-right: 40px;
  transition: .2s;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}
.main-nav a:hover,
.main-nav .active {
  color: #fff;
  background: #3b80d1;
  text-decoration: none;
}
header {
  margin-top: 2px;
  background: #edeff0;
  height: 50px;
  /*margin-top: 0px;*/
}
.NavHeader {
  text-align: left;
}
@media (max-width: 600px) {
  ul.main-nav {
    list-style: none;
    display: flex;

    /*justify-content: center;*/
    align-items: stretch;
    /*flex-flow: row wrap;*/
    flex-flow: row wrap;
    /*justify-content: flex-start;*/
    /*justify-content: center;*/
    height: 40px;
  }

  ul.main-nav li {
    width: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
    /*margin-left: auto;
    margin-right: auto;*/
    margin-top: 5px;
  }
  ul.main-nav {
    /*display: inline-block;*/
  }
  .main-nav a {

    align-items: stretch;
    /*display: inline-block;*/
    font-size: 14px;
    font-weight: 700;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    display: inline;
    padding: 1em;
    transition: .2s;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
  }
  .main-nav a:hover,
  .main-nav .active {
    color: #fff;
    background: #3b80d1;
    text-decoration: none;
  }
  header {
    margin-top: 2px;
    background: #edeff0;
    height: 50px;
  }
  .NavHeader {
    text-align: left;
  }
}

.projectPage {
    /*margin-top: -20px;*/
    /*border-top: 2px solid white;*/
    background: linear-gradient(#778899 ,#d3d3d3);
}
.projectPhoto {
  max-width: 500px;
  max-height: 500px;
  border-radius: 20px;
  border: 3px solid grey;
  float: left;
  margin-left: 35px;
}
.projectTitle {
  display: inline-block;
  float: left;
  width: 575px;
}
.projectOverview {
  display: block;
  height: 700px;
  border-bottom: 2px solid #778899;
  background: white;
  margin-bottom: 10px;
  padding-top: 20px;
}
.projectDescription {
  text-align: left;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 75px;
  width: 900px;
  position: absolute;
  left: 600px;
}
.projectDescription h4 {
  font-weight: 800;
}

.EatReviewOverview {
  width: 95%;
  padding: 1em;
  overflow:hidden;
}
.EatReviewTitle {
  width: 30%;
  float: left;
  display: inline-block;
  margin-left: 10px;
}
.EatReviewDescription {
  width: 65%;
  text-align: left;
  float: right;
  padding-right: 25px;
}

@media (max-width: 600px) {
  .projectOverview {
    display: block;
    height: 2000px;
    border-bottom: 2px solid #778899;
    background: white;
    margin-bottom: 10px;
    padding-top: 20px;
  }
  .projectTitle {
    display: block;

    width: 95%;
  }
  .projectDescription {
    display: inline-block;
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 25px;
    width: 90%;
    left: 2%;
    position: relative;
    text-align: center;
  }
  .techTitles {
    margin-left: 0px;
    width: 90%;
    text-align: center;
    display: block;
  }
  .techDetails {
    width: 300px;
    height: 250px;
    margin-top: 20px;
    position: relative;
    display: inline-block;
  }
  .frontEnd {
    width: 300px;
    position: absolute;
    display: block;
    margin-bottom: 5px;
  }
  .techDetails p {
    position: absolute;
    left: -200px;
    display: block;
    width: 300px;
    height:100%;
    margin-top: 20px;
  }
  .projectLinks {
    display: block;
    position: relative;
  }
  .techStack {
    margin-top: 20px;
  }
}

.slideshow {
  width: 380px;
  height: 480px;
  /*background: #000;*/
  display: block;
  position: relative;
  margin-bottom: 100px;
}
.slideshow-slides {
  list-style: none;
  margin: 0;
  padding: 0;
}
.slideshow-slides li {
  display: inline-block;
  /*position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;*/
  margin: 0;
  padding: 0;
  transition: .2s;
  opacity: 0;
}
.slideshow-slides li.active {
  opacity: 1;
}
figure {
  margin: 0;
  padding: 0;
}
figcaption {
  position: absolute;
  bottom: 10;
  left: 0;
  right: 0;
  color: black;
  padding: 10px;
}

.slideshow-dots {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  list-style: none;
}
.slideshow-dots li {
  display: inline;
  margin: 0;
  padding: 0;
}
.slideshow-dots a {
  cursor: pointer;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background: blue;
  border-radius: 10px;
  text-indent: -9990px;
  opacity: .5;
  transition: .3s;
}
.slideshow-dots li.active a {
  opacity: 1;
}

/*Tech Stack*/
.projectDescription h3 {
  font-size: 25px;
}
.techStack h3 {

  font-size: 25px;
}
.techStack h4 {
  font-size: 15px;
}
.techStack p {
  margin-left: 10px;
}
.projectTitle h2 {
  font-family: Arvo;
  font-style: bold;
  font-size: 30px;
}
.frontEnd {
  width: 800px;
  position: relative;
  display: inline-block;
  height: auto;
  margin-bottom: 5px;
}
.techTitles {
  margin-left: 10px;
  width: auto;
  float: left;
  display: inline-block;
}
.techDetails {
  width: 600px;
  float: right;
  display: inline-block;
}
.techDetails p {
  margin-top: 10px;
}


/*CoinSlides*/
.coinSlideContainer {
  height: 80px;
  width: 550px;
  background: white;
  padding-top: 10px;
  border-radius: 15px;
  border-bottom: 1px solid #E8E8E8;
  border-right: 1px solid #E8E8E8;
  border-left: 1px solid #E8E8E8;
  margin-left: -1px;
}
.coinSlides img {
  float: left;
  height: 60px;
  width: 35px;
}
.coinSlides {
  position: relative;
  display: inline;
  margin: 10px;
}
.coinActiveSlide button {
  border: 2px solid black;
}
.coinActiveSlide {
  display: inline;
  margin: 10px;
}
.coinPhotoContainer {
  width: 550px;
  height: 575px;
  border: 1px solid #E8E8E8;
  background: #F8F8F8;
  margin-left: 20px;
  border-radius: 15px;
}
.coinBlurb {
  height:45px;
  font-weight: 900;
}
.coinBlurb p {
  font-size: 14px;
}
.coinMainPhoto img {
  border: 1px solid white;
}
@media (max-width: 600px) {
  .coinPhotoContainer {
    width: 97%;
    height: 570px;
    border: 1px solid #E8E8E8;
    background: #F8F8F8;
    margin-left: 20px;
    border-radius: 15px;
  }
  .coinSlides img {
    float: left;
    display: inline-block;
    height: 30px;
    width: 15px;
  }
  .coinSlides {
    position: relative;
    display: inline;
    margin: 5px;
  }
  .coinSlideContainer {
    height: 70px;
    width: 346px;
    background: white;
    padding-top: 10px;
    border-radius: 15px;
    border-bottom: 1px solid #E8E8E8;
    border-right: 1px solid #E8E8E8;
    border-left: 1px solid #E8E8E8;
  }
  .coinBlurb {
    height:45px;
    font-weight: 900;
  }
  .coinBlurb p {
    font-size: 12px;
  }
}

/*Eat Slides*/
.eatSlides {
  position: relative;
  display: inline;
  margin: 10px;
}
.eatSlides img {
  float: left;
  margin: 5px;
  height: 50px;
  width: 43px;
}
.eatActiveSlide button {
  border: 2px solid black;
}
.eatSlideContainer {
  height: 100px;
  width: 550px;
  background: white;
  padding-top: 10px;
  border-radius: 15px;
  border-bottom: 1px solid #E8E8E8;
  border-right: 1px solid #E8E8E8;
  border-left: 1px solid #E8E8E8;
  margin-left: -1px;
}
.eatActiveSlide {
  display: inline;
  margin: 5px;
}
.eatMainPhoto img {
  border-radius: 10px;
  border: 1px solid white;
}
.eatPhotoContainer {
  width: 550px;
  height: 440px;
  background: #F8F8F8;
  margin-left: 25px;
}
.eatBlurb {
  height:45px;
  font-weight: 900;
}
.eatBlurb p {
  font-size: 14px;
}
.eatPhotoContainer {
  border: 1px solid #E8E8E8;
  border-radius: 15px;
}
.eatMainPhoto img {
  height: 300px;
}
@media (max-width: 600px) {
  .eatPhotoContainer {
    width: 95%;
    height: 500px;
    background: #F8F8F8;
    margin-left: 20px;
  }
  .eatSlides {
    position: relative;
    display: inline;
    margin: 10px;
  }
  .eatSlides img {
    float: left;
    display: inline-block;
    margin: 5px;
    height: 50px;
    width: 35px;
  }
  .eatMainPhoto img {
    width: 90%;
    border-radius: 10px;
    border: 1px solid white;
  }
  .eatSlideContainer {
    height: 155px;
    width: 338px;
    background: white;
    padding-top: 10px;
    border-radius: 15px;
    border-bottom: 1px solid #E8E8E8;
    border-right: 1px solid #E8E8E8;
    border-left: 1px solid #E8E8E8;
    margin-left: -1px;
  }
}

/*Insta Slides*/
.instaSlides {
  position: relative;
  display: inline;
  margin: 10px;
}
.instaSlides img {
  float: left;
  margin: 5px;
  height: 50px;
  width: 43px;
}
.instaActiveSlide button {
  border: 2px solid black;
}
.instaSlideContainer {
  height: 100px;
  width: 550px;
  background: white;
  padding-top: 10px;
  border-radius: 15px;
  border-bottom: 1px solid #E8E8E8;
  border-right: 1px solid #E8E8E8;
  border-left: 1px solid #E8E8E8;
  margin-left: -1px;
}
.instaActiveSlide {
  display: inline;
  margin: 5px;
}
.instaMainPhoto img {
  border-radius: 10px;
  border: 1px solid white;
}
.instaPhotoContainer {
  width: 550px;
  height: 440px;
  background: #F8F8F8;
  margin-left: 25px;
  border: 1px solid #E8E8E8;
  border-radius: 15px;
}
.instaBlurb {
  height:45px;
  font-weight: 900;
}
.instaBlurb p {
  font-size: 14px;
}
.instaMainPhoto img {
  height: 325px;
}
@media (max-width: 600px) {
  .instaMainPhoto img {
    width: 95%;
    border-radius: 10px;
    border: 1px solid white;
  }
  .instaPhotoContainer {
    width: 95%;
    /*height: 440px;*/
    background: #F8F8F8;
    margin-left: 5%;
    border: 1px solid #E8E8E8;
    border-radius: 15px;
  }
  .instaSlideContainer {
    height: 100px;
    width: 338px;
    margin-right: 5px;
    background: white;
    padding-top: 10px;
    border-radius: 15px;
    border-bottom: 1px solid #E8E8E8;
    border-right: 1px solid #E8E8E8;
    border-left: 1px solid #E8E8E8;
  }
}

/*Contact Form*/
.contactForm {
  margin-left: 5%;
  padding: 10px;
  width: 900px;
  height: 800px;
  border: 2px solid grey;
  background: #DCDCDC;
  text-align: left;
}
input[type=text] {
  width: 90%;
  margin-left: 5%;
  height: 300px;
  font-size: 20px;
}
input[type=textarea] {
  width: 40%;
  font-size: 20px;
  margin-bottom: 20px;
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
}
input[type=email] {
  width: 40%;
  font-size: 20px;
  margin-bottom: 20px;
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
}
input[type=number] {
  width: 40%;
  font-size: 20px;
  margin-bottom: 20px;
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
}
select.form-control {
  width: 90%;
  margin-left: 5%;
  font-size: 20px;
}
ControlLabel {
  display: block;
  vertical-align: middle;
}
.Select {
  width: 90%;
  margin-left: 5%;
  font-size: 20px;
}
label {
  width: 800px;
  vertical-align: middle;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 20px;
  line-height: 1.42857143;
}
.help-block {
  text-align: center;
  font-size: 12px;
}
.formButton {
  height: 50px;
  width: 500px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px;
}
.formTitle h2 {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 600px) {
  .contactForm {
    margin-left: 2%;
    margin-right: 2%;
    padding: 10px;
    width: 95%;
    /*height: 800px;*/
    border: 2px solid grey;
    background: #DCDCDC;
    text-align: left;
  }
  input[type=text] {
    width: 90%;
    margin-left: 5%;
    height: 300px;
    font-size: 20px;
  }
  input[type=textarea] {
    width: 40%;
    font-size: 20px;
    margin-bottom: 20px;
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
  }
  input[type=email] {
    width: 40%;
    font-size: 20px;
    margin-bottom: 20px;
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
  }
  input[type=number] {
    width: 40%;
    font-size: 20px;
    margin-bottom: 20px;
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
  }
  select.form-control {
    width: 90%;
    margin-left: 5%;
    font-size: 20px;
  }
  ControlLabel {
    display: block;
    vertical-align: middle;
  }
  .Select {
    width: 90%;
    margin-left: 5%;
    font-size: 20px;
  }
  label {
    width: 800px;
    vertical-align: middle;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 20px;
    line-height: 1.42857143;
  }
  .help-block {
    text-align: center;
    font-size: 12px;
  }
  .formButton {
    height: 50px;
    width: 250px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
  }
  .formTitle h2 {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
  }
}

/*Home Page*/
@media (min-width: 801px) {
  .homeContainer {
    margin-left: 5%;
    margin-top: 20px;
    width: 90%;
    margin: auto;
  }
  .homePhoto {
    display: inline-block;
    position: absolute;
    left: 50px;
    float: left;
    width: 25%;
    margin-top: 5%;
  }
  .homePhoto img {
    max-height: 350px;
    width: 90%;
    border-radius: 5px;
    border: 1px solid grey;

  }
  .outsideLinks {
    margin-top: 20px;
  }
  .homeBio {
    float: left;
    margin-left: 30%;
    margin-top: 7%;
    width: 60%;
    text-align: left;
  }
}
@media (max-width: 800px) {
  .homePhoto {
    display: block;
    margin-left: 10px;
    margin-top: 5%;
  }
  .homeContainer {
    margin-left: 2%;
    margin-top: 20px;
    width: 95%;
  }
  .homeBio {
    display: block;
    margin-left: 5%;
    margin-top: 3%;
    width: 90%;
    text-align: center;
  }
  .homePhoto img {
    max-height: 350px;
    width: 90%;
    border-radius: 5px;
    border: 1px solid grey;
  }
  .outsideLinks {
    margin-top: 20px;
  }
}
/*Contact Page*/
.contactContainer {
  margin-top: 50px;
}


/*Resume Page*/
.resume img {
  height: 1200px;
  /*width: 775px;*/
  border: 2px solid #aaa;
}
.resume {
  height: 1050px;
  width: 800px;
  margin-left: 100px;
  margin-bottom: 200px;
  padding: 10px;
}
.printButton {
  margin-left: 100px;
  margin-top: 10px;
  width: 900px;
}
@media (max-width: 600px) {
  .resume img {
    height: 1200px;
    /*width: 300px;*/
    /*width: 775px;*/
    border: 2px solid #aaa;
  }
  .resume {
    height: 1050px;
    width: 800px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding: 10px;
  }
  .printButton {
    /*margin-left: 100px;*/
    margin-top: 10px;
    width: 200px;
  }
}
